<nav>
  <a class="menu-item menu-item--active">Home</a>
  <a class="menu-item">Search</a>
</nav>

<div class="user-profile">
  <div class="login-register" *ngIf="!user; else loggedIn">
    <a class="btn btn-link" [routerLink]="['/auth/login']">Login</a> /
    <a class="btn btn-link" [routerLink]="['/auth/register']" >Register</a>
  </div>
  <ng-template #loggedIn>
    <a class="menu-item">{{ user.name }}</a>
    <button class="btn btn-link" (click)="logout.emit()">Logout</button>
  </ng-template>
</div>
