@import 'variables';

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-accent-colour;
  padding: 0 3rem;
}

nav {
  display: flex;
  align-items: center;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 1rem;

  &--active {
    color: $accent-colour;
    border-bottom: 2px solid $accent-colour;
  }
}

.user-profile {
  display: flex;
  align-items: center;
  // padding: 1rem 0;
}
